<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container-fluid" ng-controller="controller as vm">

    <div ng-show="!vm.NombreListo">
        Nombre: <input type="text" ng-model="vm.Nombre" />
        <input type="button" class="btn btn-primary" value="Aceptar" ng-click="vm.SetNombre()" />
    </div>


    <form class="form-inline" ng-show="vm.NombreListo">
        <input type="text" ng-model="vm.message" />
        <input type="button" class="btn btn-primary" value="Enviar" ng-click="vm.Enviar()" />
    </form>

    <ul class="list-group" ng-repeat="mensaje in vm.Mensajes">
        <li class="list-group-item"><b>{{mensaje.Nombre}}:</b> {{mensaje.Mensaje}}</li>
    </ul>

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular-signalr-hub.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="App/app.js"></script>
    <script src="App/controller.js"></script>
</body>
</html>