<!DOCTYPE html>
<html ng-app="app">
<head>
    <title></title>
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container-fluid" ng-controller="controller as vm">


    <div>
       
        <div class="alert alert-danger" ng-show="vm.Estado == 'desconectado'">
            desconectado
        </div>

        <div class="alert alert-info" ng-show="vm.Estado == 'conectado'">
            conectado
        </div>

        <div class="alert alert-warning" ng-show="vm.Estado == 'conectando'">
            conectando..........
        </div>
    </div>

    <input type="button" value="Reconectar" class="btn btn-danger"  ng-click="vm.Reconectar()" ng-show="vm.Estado == 'desconectado'"/>

    <ng-form class="form-inline" ng-show="!vm.NombreListo" name="formNombre" ng-disabled="vm.Estado == 'desconectado'">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" ng-model="vm.Nombre" class="form-control" placeholder="Nombre" required />
            <input type="button" class="btn btn-primary" value="Aceptar" ng-click="vm.SetNombre()" ng-disabled="!formNombre.$valid" />
        </div>

    </ng-form>

    <form class="form-inline" ng-show="vm.NombreListo" name="formMensaje" novalidate>
        <div class="form-group">
            <input type="text" ng-model="vm.message" class="form-control" placeholder="Mensaje" required />
            <input type="button" class="btn btn-primary" value="Enviar" ng-click="vm.Enviar()" ng-disabled="!formMensaje.$valid" />
        </div>
    </form>

    <ul class="list-group" ng-repeat="mensaje in vm.Mensajes">
        <li class="list-group-item"><b>{{::mensaje.Nombre}}:</b> {{::mensaje.Mensaje}}</li>
    </ul>

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular-signalr-hub.min.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="App/app.js"></script>
    <script src="App/controller.js"></script>
</body>
</html>